.breed-header {
background: #b5ce12;
text-align: center;
}

.one-block a {
  margin: 20px;
  color: #111;
  text-decoration: none;
  background-repeat: no-repeat;
  text-align: center;
}

.one-block h2 {
  color: #111111;
  text-decoration: none;
  text-align: center;
}

.one-block {
  margin: 20px;
  border: 2px solid #000000;
}

.comment h2 {
  text-align: center;
  text-decoration: none;
}

.btn {
  text-align: center;
  text-decoration: none;
  background: #97b601;
  color: #000000;
  text-align: center;
  border: 1px solid #000000;

}

h1 {
text-align: center
}

.form p {
text-align: center}