.breed-header {
background: #b5ce12;
text-align: center;
}

.one-breed-block a {
  color: #111;
  text-decoration: none;
  background-repeat: no-repeat;
  text-align: center;
  box-shadow: 0 0 5px 4px #999;
}

.one-breed-block h2 {
  color: #111111;
  text-decoration: none;
  text-align: center;
}